<%= render :partial => 'admin/shared/configuration_menu' %>

<% hook :admin_comment_type_edit_form_header do %>
  <h1><%= t("editing_comment_type") %></h1>
  <%= error_messages_for :comment_type %>
<% end %>

<% hook :admin_comment_type_edit_form do %>
  <% form_for(@comment_type, :url => object_url, :html => { :method => :put }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <% hook :admin_comment_type_edit_form_buttons do %>
      <%= render :partial => "admin/shared/edit_resource_links" %>
    <% end %>
  <% end %>
<% end %>
