<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_comment_type"), new_object_url, :icon => 'add'  %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("comment_types") %></h1>

<table class="index">
  <thead>
    <tr>
    <% hook :admin_comment_types_index_headers do %>
      <th><%= t("name") %></th>
      <th><%= t("applies_to") %></th>
    <% end %>
      <th>
        <% hook :admin_comment_types_index_header_actions %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @comment_types.each do |comment_type| %>
      <tr id="<%= dom_id comment_type %>">
        <%- locals = {:comment_type => comment_type} -%>
        <% hook :admin_comment_types_index_rows, locals do %>
          <td><%= comment_type.name %></td>
          <td><%= comment_type.applies_to %></td>
        <% end %>
        <td width="140px">
          <% hook :admin_comment_types_index_row_actions, locals do %>
            <%= link_to_edit comment_type %> &nbsp;
            <%= link_to_delete comment_type %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

