<%= render :partial => 'admin/shared/configuration_menu' %>

<% hook :admin_comment_type_new_form_header do %>
  <h1><%= t("new_comment_type") %></h1>

  <%= error_messages_for :comment_type %>
<% end %>

<% hook :admin_comment_type_new_form do %>
  <% form_for(:comment_type, :url => collection_url) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <% hook :admin_comment_type_new_form_buttons do %>
      <%= render :partial => "admin/shared/new_resource_links" %>
    <% end %>
  <% end %>
<% end %>
