<h1><%= "#{t("comments")} #{(t('for') + " " + comments_for unless (comments_for rescue nil).nil?)}"%></h1>

<table class="index">
  <tr>
    <th style="width:140px;"><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <% unless @comment_types.empty? %>
      <th><%= t("type") %></th>
    <% end %>
    <th><%= t("comment") %></th>
  </tr>
  <% commentable.comments.reverse.each_with_index do |comment, index| %>
    <tr id="<%= dom_id(comment) %>">
      <td><%= comment.created_at.to_formatted_s(:long) %></td>
      <% unless @comment_types.empty? %>
        <td><%= comment.comment_type.name if comment.comment_type %></td>
      <% end %>
      <td>
        <div id="order-comment-header-<%= index %>" class="order-comment-header">
          <strong><%= comment.user.email%> said:</strong>
        </div>
        <div id="order-comment-body-<%= index %>" class="order-comment-body">
          <%= comment.comment %>
        </div>
      </td>
     </tr>
  <% end %>
</table>


<div class="order-add-comment">
  <% form_for(:comment, :url => admin_comments_url) do |f| %>
    <%= hidden_field_tag 'comment[commentable_id]', commentable.id %>
    <%= hidden_field_tag 'comment[commentable_type]', commentable.class %>
    <%= hidden_field_tag 'comment[user_id]', current_user.id %>

    <table class="index">
      <thead>
        <th colspan="2"><%= t('add_comment') %></th>
      </thead>
      <tbody>
         <% unless @comment_types.empty? %>
          <tr>
            <td><%= f.label :comment_type_id, t("type") %><br /></td>
            <td><%= f.select :comment_type_id, @comment_types.map{|ct| [ct.name, ct.id]},{} ,:class => 'title' %></td>
          </tr>
        <% end %>
        <tr>
          <td style="width:140px;"><%= f.label :comment, t("comment") %></td>
          <td><%= f.text_area :comment,  {:style => 'height:150px;', :class => 'fullwidth'} %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>      <%= button t('add_comment') %></td>
        </tr>
      </tbody>
    </table>

    <p class="form-buttons">

    </p>
  <% end %>
</div>
